{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Akshat Parikh</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/001.png') }}" alt="flowermoon">
                    <div class="card-body">
                    <h5 class="card-title">Who is <mark>Akshat Parikh</mark>?</h5>
                    <p class="card-text">
                        <ul>
                            <li>I am a junior, I enjoy making money through stocks and learning about markets. I love cars. I play football for the school and I also play basketball, those are my favorite sports. I am taking 5 APs so life is busy. </li>
                    >
                        </ul>
                    </p>
                    <a href="https://akshat122805.github.io/fastpages/" class="btn btn-primary">Click to see my blog!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/ARIZONA.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What are akshat's <mark>Favorite drinks</mark>?</h5>
                    <p class="card-text">
                        <ul>
                            <li>Arizona TEA</li>
                            <li>Root beer</li>
                            <li>Apple Juice</li>
                            <li>Buttermilk</li>
                        </ul>
                    </p>
                    <a href="https://drinkarizona.com/?gclid=Cj0KCQjwkOqZBhDNARIsAACsbfLWUPKH-LvSuOy3aDxW5vSJiP5VXgC1_GILQmRhGIEeiVV1ci_hPnUaAh7fEALw_wcB" class="btn btn-primary">Click to buy arizona!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/schedule.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is Akshat's <mark>schedule</mark> at school?</h5>
                    <p class="card-text">
                        <table>
                            <thead>
                              <tr>
                                <th>Period</th>
                                <th>Course Title</th>
                                <th>Room Name</th>
                                <th>Teacher</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>AP Environmental Science</td>
                                <td>E105</td>
                                <td>Mr. Hendricks</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>AP Calc AB</td>
                                <td>R402</td>
                                <td>Ms. West</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>AP Statistics</td>
                                <td>J101</td>
                                <td>Mr.Deputron</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>AP CS Principles 1</td>
                                <td>A101</td>
                                <td>Mr. Mortenson</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>Advanced Football</td>
                                <td>Advanced Football</td>
                                <td>Coach Cole</td>
                              </tr>
                            </tbody>
                            </table>
                    </p>
                  
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}